@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOkCnqEu92Fr1MmgVxFIzIXKMnyrYk.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

.superior {
    font-family: 'Roboto';
    background-color: #1CD1B0;
    margin-bottom: -3.3vh;
    margin-top: -1.6vh;
    padding: 1vh;
    font-size: 15px;
}

body {
    font-family: 'Roboto';
}

h1 {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 2rem;
    padding: 1.6rem;
    margin-bottom: 5rem;
    filter: drop-shadow(0vh 1vh 2vh #2e2e2e);
    background-color: #00669F;
    position: fixed;
    width: 100%;
}

h2 {
    position: absolute;
    right: 15vh;
    top: 17vh
}

article {
    filter: drop-shadow(0vh 1vh 1vh #2e2e2e);
    position: relative;
    top: 55vh;
    left: 7vh;
    background-color: #e0e0e0;
    display: inline-block;
    width: 18.7em;
    height: 25em;
    margin: 8.6vh;
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
}

#fondo {
    position: relative;
    bottom: 18.1vh;
    image-rendering: 20vh;
}

#perfil {
    position: absolute;
    z-index: 10;
    left: 12vh;
    border-radius: 9vh;
}

#corazon{
    position: absolute;
    z-index: 15;
    bottom: 70vh;
    left: 2vh;
}

.parrafo {
    position: absolute;
    top: 23vh;
    padding: 2vh;
}

.verMas {
    position: absolute;
    color: white;
    background-color:#00669F;
    padding: 0.8em 2.5em;
    left: 12vh;
    bottom: 4vh;
    border: none
}

footer {
    font-size: 2vh;
    font-weight: bold;
    background-color: #00669F;
    color: white;
    padding: 1.5vh;
    position: relative;
    top: 70vh
}