@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOkCnqEu92Fr1MmgVxFIzIXKMnyrYk.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

#boton {
    position: fixed;
    left: 90vw;
    top: 70vh;
    z-index: 20;
    height: 7vh;
    width: 4vw;
}
.superior {
    font-family: 'Roboto';
    width: 100vw;
    background-color: #1CD1B0;
    padding: 1vh;
    font-size: 1rem; 
    margin-top: -1.6vh;
}

body {
    font-family: 'Roboto';
}

h1 {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 2rem;
    padding: 1.6rem;
    margin-top: -2.3vh;
    filter: drop-shadow(0vh 1vh 2vh #2e2e2e);
    background-color: #00669F;
    width: 100%;
}

.section1 {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.card {
    margin: 0vh 4vw;
    height: 80vh;
    filter: drop-shadow(0vh 1vh 1vh #2e2e2e);
    background-color: #e0e0e0;
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#perfil {
    position: absolute;
    left: 8vw;
    top: 19vh;
    border-radius: 11vh;
    z-index: 10;
}

#corazon{
    position: absolute;
    left: 1vw;
    top: 2vh;
    z-index: 15;
}

h2 {
    padding-top: 7vh;
}
.parrafo {
    padding: 2vh; 
    margin-top: -3vh;
}

.verMas {
    flex-wrap: wrap;
    color: white;
    background-color:#00669F;
    padding: 0.8em 2.5em;
    border: none;
    margin: 1vh 6.5vw 1vh;
}

footer {
    background-color: #00669F;
    font-weight: bold;
    font-size: 2vh;
    color: white;
    padding: 1.5vh;
    margin-bottom: -3vh;
}

@media (max-width: 900px) {
    section {
        flex-direction: column;
    }
}